[Unit]
Description=Prometheus Kea Exporter
After=network.target
Wants=network.target

[Service]
Type=simple
MemoryLimit=50M
Restart=always
RestartSec=6s
ExecStart=/usr/bin/kea-exporter /etc/kea/kea.conf

[Install]
WantedBy=multi-user.target
