[Unit]
Description=autoping

[Service]
User=nobody
ExecStart=/usr/bin/zabbix-userparameter-autoping-run
TimeoutStartSec=0
Restart=on-failure
RestartSec=12s
StartLimitInterval=600
StartLimitBurst=12

[Install]
WantedBy=multi-user.target

